<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="logo">Logged into </div>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Sign In", root_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>